<div class="card">
    <input [(ngModel)]="post" />
    <button (click)="addPost()"> Add Post </button>
    {{str}}
    <h2 class="select-button"> {{ country.name }}</h2>
    <button (click)="delme()"> del me</button>
    <h3 class="mark" *ngIf="country.borders && !country.borders.length"> No Borders </h3>
    <img (mouseenter)="big()" (mouseleave)="init()" [width]="hoverme" [src]="country.flag">
    <div class="mark-currencies">
        <ol>
            <li *ngFor="let currency of country.currencies">
                {{currency.code}} {{currency.symbol}}
            </li>
        </ol>
    </div>
    <div class="mark-currencies">
        <ol>
            <li *ngFor="let post of posts">
                {{post}}
            </li>
        </ol>
    </div>
</div>