<div>
    <h1> Countries</h1>
    <h2> selected Country: {{selectedCountry}} </h2>
    <div style="display:flex;flex-wrap: wrap;">
        <div class="card" *ngFor="let country of countries; let i = index"
            [ngClass]="{'selected-country': country.isSelected}">
            <h2 class="select-button" (click)="selectCountry(country)">{{i}} {{  country.name }}</h2> <button
                (click)="deleteMe(i)">X</button>

            <h3 class="mark" *ngIf="country.borders && !country.borders.length"> No Borders </h3>
            <div class="mark-currencies" *ngIf="moreThenTwoCurrencies(country)">
                <ol>
                    <li *ngFor="let currency of country.currencies">
                        {{currency.code}} {{currency.symbol}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>